* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
}

.panel_left {
    display: flex;
    width: 15%;
    height: 100%;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel_right {
    width: 85%;
    height: 100%;
}

.hand {
    display: flex;
    height: 10%;
}

.hand_glyphes {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: antiquewhite;
    align-items: center;
}

.hand_prodiges {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: brown;
    align-items: center;
}

.terrain {
    display: flex;
    height: 80%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.terrain_voies {
    display: flex;
    height: 100%;
    width: 70%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terrain_prodiges {
    display: flex;
    height: 100%;
    width: 30%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ligne_centre {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.voie {
    display: flex;
    height: 20vh;
    width: 20vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.glyphe_opp {
    display: flex;
    height: 8vh;
    width: 8vh;
    background-color: black;
}

.glyphe {
    display: flex;
    height: 8vh;
    width: 8vh;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
}

.glyphe:hover {
    background-color: ForestGreen;
}

.prodige {
    display: flex;
    height: 8vh;
    width: 8vh;
    background-color: darkorchid;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.empty_prodige .puissance, .empty_prodige .degats {
    display: flex;
    height: 3vh;
    width: 3vh;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.hand_prodiges .puissance, .hand_prodiges .degats {
    display: none;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    flex-grow: 1;
}

.prodige[playable='false'] {
    background-color: grey;
}

.empty_voie {
    display: flex;
    height: 12vh;
    width: 12vh;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#validate_button {
    height: 8vh;
    width: 20vh;
    background-color: coral;
    justify-content: center;
    align-items: center;
}

#false_button {
    height: 8vh;
    width: 20vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

[clicked="true"] {
    border: 5px solid red;
}

.empty_prodige > .prodige[available="true"] {
    border: 5px solid red;
}

.empty_prodige > .prodige[available="true"]:hover {
    background-color: indigo;
}

.voie[available="true"] {
    border: 5px solid red;
}

.voie[available="true"]:hover {
    background-color: navy;
}

.empty_prodige {
    display: flex;
    height: 26vh;
    width: 18vh;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.empty_prodige > .prodige {
    height: 90%;
    width: 90%;
}

#refresh {
    height: 3vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.btn_room_choice {
    height: 3vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.btn_room_choice:hover {
    background-color: CadetBlue;
}

#waiting {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.panel_left > * {
    width: 90%;
}

.summary {
    height: 20%;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.summary > * {
    display: flex;
    flex-direction: column;
}

.log {
    height: 40%;
    overflow: auto;
    background-color: white;
}

#winners {
    font-family: Georgia, serif;
    font-size: 36px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#list_glyphs_opp {
    display: flex;
    flex-direction: row;
}

#list_glyphs_opp > div {
    display: flex;
    flex-direction: row;
    width: 33%;
}

#list_glyphs_opp > div > div {
    width: 50%;
}